<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
   {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <div class="col-md-12 col-12 main_header_left align-items-center">

                        <figure class="errimg">
                            <img src="https://img.freepik.com/premium-vector/error-404-page-found-natural-concept-illustration-background-web-missing-landing-page_607751-171.jpg" alt="" class="img-fluid" title="learn">
                        </figure>
               
                        <p>Hello to this weather app page</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                    <!-- right div-->
                   
            </div>
        </div>
    </div>
<!-- footer -->
{{>footer}}
</body>
</html>