<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
   {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <div class="col-md-6 col-12 main_header_right">

                        <figure>
                            <img src="https://media.licdn.com/dms/image/D4D03AQHMVSbYHZ98qQ/profile-displayphoto-shrink_800_800/0/1681677830813?e=2147483647&v=beta&t=OZVkXPNvSI7Q2c0lUR36vUI9_VBn3Qymvv2ed0IkeIY" alt="" class="img-fluid" title="learn">
                        </figure>
                </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hello to this weather app page</p>
                        <h1>I am a learner. My name is <span class="text_clr">Ayantika.</span> Hope to learn more!</h1>
                        <a href="https://www.linkedin.com/in/ayantika-mukherjee-1993a91b5/"><button>About Me</button></a>
                    </div>
                    <!-- right div-->
                   
            </div>
        </div>
    </div>
<!-- footer -->
{{>footer}}
</body>
</html>